.dispatcher {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #f5f6f8;
}

.tabs {
  display: flex;
  background: #1f2937;
  border-bottom: 3px solid #374151;
}

.tabs button {
  flex: 1;
  padding: 12px;
  color: #e5e7eb;
  background: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.tabs button.active {
  background: #374151;
  color: #fff;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.brigades-panel {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* адаптивна сітка  для бригад*/
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
}

.empty-calls {
  text-align: center;
  margin-top: 100px;
  color: #555;
}

.new-call-btn {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.new-call-btn:hover {
  background-color: #1d4ed8;
}
