.header {
  display: flex; /* використовуємо flexbox для розташування елементів по горизонталі */
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 30, 60, 0.8);
  padding: 10px 40px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px); /* трохи сильніше розмиває фон */
  z-index: 10; /* щоб хедер був поверх інших елементів */
  border-bottom: 3px solid rgba(255, 255, 255, 0.2); /* лінія внизу */
}

.logo {
  font-weight: bold;
  font-size: 1.3em;
  color: #fff;
}

.nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.head-btn-login {
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.head-btn-login:hover {
  background: rgba(255, 255, 255, 0.35);
}

.head-btn-register {
  background: #e11d48;
  color: white;
}

.head-btn-register:hover { /* при наведенні курсором */
  background: #b91c1c;
}
