.hero {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.hero::after {
  content: ""; /* обовязковий для псевдоелементів - елемент існує, але нічого всередині не показує */
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; - на всю сторінку*/
  background: rgb(0, 0, 0, 0.55); /* затемнення */
}

.hero-content {
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.call-button {
  background: #e11d48;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
}

.call-button:hover {
  background: #b91c1c;
}
